# -------------------
# Uptime Kuma settings
# -------------------
KUMA_URL=http://<INSERT IP HERE>:<INSERT PORT HERE>
KUMA_USER=<INSERT USER>
KUMA_PASS=<INSERT PASS>
KUMA_SSL_VERIFY=1

# Naming / cleanup
KUMA_NAME_PREFIX=AUTO
KUMA_INTERVAL=60
KUMA_STALE_DAYS=7

# -------------------
# Pelican panel settings
# -------------------
PEL_URL=http://<INSERT IP HERE>:<INSERT PORT HERE>
PEL_APP_KEY=<INSERT APP KEY HERE>
PEL_CLIENT_KEY=<INSERT CLIENT KEY HERE>
PEL_SSL_VERIFY=1

# Cache
CACHE_PATH=/data/pelican_servers_cache.json
CACHE_TTL_SECONDS=300